<settings>
 <mirrors>
  <mirror>
   <id>bamboo-maven-central</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/central/</url>
   <mirrorOf>central</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-opennms-repo</id>
   <url>http://mirror.internal.opennms.com:8081/content/groups/opennms.org-release/</url>
   <mirrorOf>opennms-repo</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-opennms-snapshot</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/opennms-snapshots/</url>
   <mirrorOf>opennms-snapshots</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-servicemix</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/servicemix/</url>
   <mirrorOf>servicemix</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-atlassian-public</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/atlassian-public/</url>
   <mirrorOf>atlassian-public</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-codehaus-snapshots</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/codehaus-snapshots/</url>
   <mirrorOf>codehaus-snapshots</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-coova</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/coova/</url>
   <mirrorOf>coova</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-jasperreports</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/jasperreports/</url>
   <mirrorOf>jasperreports</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-jaspersoft-third-party</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/jaspersoft-third-party/</url>
   <mirrorOf>jaspersoft-third-party</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-maven2-repository.dev.java.net</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/maven2-repository.dev.java.net/</url>
   <mirrorOf>maven2-repository.dev.java.net</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-jboss-repo</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/jboss-repo/</url>
   <mirrorOf>jboss-repo</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-jboss-public-repo</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/jboss-public-repository-group/</url>
   <mirrorOf>jboss-public-repository-group</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-onejar-maven-plugin.googlecode.com</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/onejar-maven-plugin.googlecode.com/</url>
   <mirrorOf>onejar-maven-plugin.googlecode.com</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-openoss-repo</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/openoss-repo/</url>
   <mirrorOf>openoss-repo</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-ops4j.releases</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/ops4j.releases/</url>
   <mirrorOf>ops4j.releases</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-smslib-repo</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/smslib-repo/</url>
   <mirrorOf>smslib-repo</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-sonatype-public-repo</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/sonatype-public-repo/</url>
   <mirrorOf>sonatype-public-repo</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-sonatype-snapshot-repo</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/sonatype-nexus-snapshots/</url>
   <mirrorOf>sonatype-nexus-snapshots</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-springsource</id>
   <url>http://mirror.internal.opennms.com:8081/content/groups/springsource.com-release</url>
   <mirrorOf>com.springsource.repository.bundles,com.springsource.repository.bundles.release,com.springsource.repository.bundles.external</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-vaadin-addons</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/vaadin-addons/</url>
   <mirrorOf>vaadin-addons</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-vaadin-snapshots</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/vaadin-snapshots/</url>
   <mirrorOf>vaadin-snapshots</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-oosnmp-repo</id>
   <url>http://mirror.internal.opennms.com:8081/content/repositories/oosnmp-repo/</url>
   <mirrorOf>oosnmp-repo</mirrorOf>
  </mirror>
 </mirrors>
</settings>
