<settings>
 <mirrors>
  <mirror>
   <id>bamboo-maven-central</id>
   <url>http://localhost:8081/repository/central/</url>
   <mirrorOf>central</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-opennms-repo</id>
   <url>http://localhost:8081/repository/opennms.org-release/</url>
   <mirrorOf>opennms-repo</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-opennms-snapshot</id>
   <url>http://localhost:8081/repository/opennms.org-snapshot/</url>
   <mirrorOf>opennms-snapshots</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-servicemix</id>
   <url>http://localhost:8081/repository/servicemix-release/</url>
   <mirrorOf>servicemix</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-atlassian-public</id>
   <url>http://localhost:8081/repository/atlassian.com-release/</url>
   <mirrorOf>atlassian-public</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-codehaus-snapshots</id>
   <url>http://localhost:8081/repository/codehaus-snapshots/</url>
   <mirrorOf>codehaus-snapshots</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-coova</id>
   <url>http://localhost:8081/repository/coova-release/</url>
   <mirrorOf>coova</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-jasperreports</id>
   <url>http://localhost:8081/repository/jasperreports/</url>
   <mirrorOf>jasperreports</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-jaspersoft-third-party</id>
   <url>http://localhost:8081/repository/jaspersoft-third-party/</url>
   <mirrorOf>jaspersoft-third-party</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-maven2-repository.dev.java.net</id>
   <url>http://localhost:8081/repository/java.net-release/</url>
   <mirrorOf>maven2-repository.dev.java.net</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-jboss-repo</id>
   <url>http://localhost:8081/repository/jboss-repo/</url>
   <mirrorOf>jboss-repo</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-jboss-public-repo</id>
   <url>http://localhost:8081/repository/jboss-public-repository-group/</url>
   <mirrorOf>jboss-public-repository-group</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-onejar-maven-plugin.googlecode.com</id>
   <url>http://localhost:8081/repository/onejar-maven-plugin.googlecode.com/</url>
   <mirrorOf>onejar-maven-plugin.googlecode.com</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-openoss-repo</id>
   <url>http://localhost:8081/repository/openoss-repo/</url>
   <mirrorOf>openoss-repo</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-ops4j.releases</id>
   <url>http://localhost:8081/repository/ops4j.releases/</url>
   <mirrorOf>ops4j.releases</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-smslib-repo</id>
   <url>http://localhost:8081/repository/smslib-repo/</url>
   <mirrorOf>smslib-repo</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-sonatype-public-repo</id>
   <url>http://localhost:8081/repository/sonatype-public-repo/</url>
   <mirrorOf>sonatype-public-repo</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-sonatype-snapshot-repo</id>
   <url>http://localhost:8081/repository/sonatype-nexus-snapshots/</url>
   <mirrorOf>sonatype-nexus-snapshots</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-springsource</id>
   <url>http://localhost:8081/repository/springsource.com-release/</url>
   <mirrorOf>com.springsource.repository.bundles,com.springsource.repository.bundles.release,com.springsource.repository.bundles.external</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-vaadin-addons</id>
   <url>http://localhost:8081/repository/vaadin-addons/</url>
   <mirrorOf>vaadin-addons</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-vaadin-snapshots</id>
   <url>http://localhost:8081/repository/vaadin-snapshots/</url>
   <mirrorOf>vaadin-snapshots</mirrorOf>
  </mirror>
  <mirror>
   <id>bamboo-oosnmp-repo</id>
   <url>http://localhost:8081/repository/oosnmp-repo/</url>
   <mirrorOf>oosnmp-repo</mirrorOf>
  </mirror>
 </mirrors>
</settings>
